@import url('https://fonts.googleapis.com/css?family=Lexend+Exa:400,400i,700,700i&display=swap');

body, .ui.table thead th {
    cursor: default;
}

body, .ui.input input, .ui.search .results .result .title, .ui.menu .item, .ui.form input[type=text], .ui.button, .ui.accordion .title:not(.ui) {
    font-family: 'Lexend Exa', sans-serif;
    letter-spacing: -.07em;
}

*::selection, input::selection {
    background: #0001;
    color: #084;
}

header {
    border-radius: 0!important;
}

.logo {
    font-size: 2em;
    font-weight: 700;
}

.ui.search .prompt {
    border-radius: .28571429rem;
}

.center.aligned {
    text-align: center;
}

.hidden {
    display: none;
}

.ui.table tr td.hora.selectable {
    cursor: pointer;
}

.ui.table tr td.hora.selectable.active {
    background-color: #db2828!important;
    color: #fff!important;
}

.ui.table tr td.hora.selectable.active:hover {
    background-color: #b22!important;
    color: #fff!important;
}
