#buscar
  .ui.fluid.search
    .ui.fluid.left.icon.input
      i.plus.icon
      input.prompt(placeholder="Añadir clase . . .", autocomplete="off")
    .results
  .ui.compact.text.menu
    a.item#actualizar No encuentro la clase que busco