link(href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet")
script(src="//code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous")
script(src="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js")
script(src="//coffeescript.org/v2/browser-compiler-legacy/coffeescript.js" crossorigin="anonymous")