doctype 5
html
  head
    include cdn.pug
    title horale | @(periodos[periodo])
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="@( url_for('static', filename='favicon.ico') )")
    link(rel="stylesheet", media="all", href="@( url_for('static', filename='style.css') )")
    script var periodo = "@(periodo)"
        
  body
    header.ui.borderless.menu
      include header.pug
    main.ui.blurring.container
      include buscar.pug
      include menu.pug
      .ui.attached.message#info Se halló <b>1</b> horario posible que cumple con los filtros.
      .ui.bottom.attached.segment
        .ui.divided.items#clases
      include tabla.pug
    script(src="@( url_for('static', filename='main.coffee') )", type="text/coffeescript")