doctype 5
html
    head
        title horale. | @(periodos[periodo])
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="@( url_for('static', filename='favicon.ico') )")
        
        link(href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css", rel="stylesheet")
        link(rel="stylesheet", media="all", href="@( url_for('static', filename='style.css') )")
        
        script(src="//code.jquery.com/jquery-3.4.1.min.js", crossorigin="anonymous")
        script(src="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js")
        script(src="//coffeescript.org/v2/browser-compiler-legacy/coffeescript.js", crossorigin="anonymous")
        
    body
        header.ui.borderless.menu
            .ui.container
                .item: .logo horale.
                .right.menu
                    .ui.dropdown.item
                        .text @(periodos[periodo])
                        .menu: for per in periodos
                            if per == periodo
                                a.active.item(href="/@(per)") @(periodos[per])
                            else
                                a.item(href="/@(per)") @(periodos[per])
                                
        main.ui.blurring.container
            #buscar
                .ui.form#niveles
                    .inline.fields
                        for nivel in niveles
                            .field
                                .ui.checkbox(id="@(nivel)")
                                    input(type="checkbox")
                                    label @(niveles[nivel])
                .ui.fluid.search
                    .ui.fluid.left.icon.input
                        i.plus.icon
                        input.prompt(placeholder="Añadir clase . . .", autocomplete="off")
                    .results
                .ui.compact.text.menu
                    a.item#actualizar No encuentro la clase que busco
                    
            .ui.top.attached.menu
                a.item#menos: i.fitted.chevron.left.icon
                .item.active#num 1
                a.item#mas: i.fitted.chevron.right.icon
                .right.menu
                    a.disabled.item#filtrar
                        i.sliders.horizontal.icon
                        | Filtrar
                    a.item#imprimir: i.print.fitted.icon
                    a.disabled.item#sincronizar: i.sync.fitted.icon
            .ui.attached.message#info Se halló <b>1</b> horario posible que cumple con los filtros.
            .ui.bottom.attached.segment
                .ui.divided.items#clases
            
            table.ui.very.compact.small.unstackable.celled.fixed.center.aligned.table
                thead: tr
                    for dia in ['','LUN','MAR','MIE','JUE','VIE','SAB']
                        th @(dia)
                tbody: for h in range(6,20)
                    tr
                        td @(h):30
                        for dia in ['Lunes','Martes','Miércoles','Jueves','Viernes','Sábado']
                            td.selectable.hora(id="@(dia)-@(h)")
                            
        footer.ui.center.aligned.basic.segment
            .ui.container
                p Horale es <a href="//github.com/theandresdavid/horale">software libre</a>.
                
        script var periodo = "@(periodo)", niveles = @(niveles)
        script(src="@( url_for('static', filename='main.coffee') )", type="text/coffeescript")
