.ui.top.attached.menu
  a.item#menos
    i.fitted.chevron.left.icon
  .item.active#num 1
  a.item#mas
    i.fitted.chevron.right.icon
  .right.menu
    a.disabled.item#filtrar
      i.sliders.horizontal.icon
      | Filtrar
    a.item#imprimir
      i.print.fitted.icon
    a.disabled.item#sincronizar
      i.sync.fitted.icon